@import './../../../../../styles/variables';

#bottom-nav {
  background-color: #fff;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
  z-index: 1030;
}

#save-note-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 16px;
  .material-icons {
    color: #fff;
  }
}
#create-note-component-wrapper {
  margin-top: 40px;
}

.icon-margin {
  margin-left: 10px;
}

#customer-info-wrapper {
  border-bottom: solid grey 1px;
  padding-bottom: 20px;
  margin-top: 20px;
}

#customer-info {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#create-note-form {
  width: 80%;
  max-width: 300px;
  margin: auto;
}

#image-upload-wrapper {
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

#progress-bar-wrapper {
  margin-top: 20px;
}
