<div id="create-note-component-wrapper" class="row no-gutters">
  <div class="col">
    <div class="sub-nav row no-gutters">
      <div class="col-2">
        <div
          type="button"
          class="nav-before-btn"
          (click)="navigateToNotesList()"
        >
          <mat-icon>navigate_before</mat-icon>
        </div>
      </div>
      <div class="col-8 page-title-wrapper">Notiz anlegen</div>
      <div class="col-2"></div>
    </div>

    <div class="row no-gutter">
      <div class="col">
        <div id="create-note-form-wrapper">
          <div class="col-12">
            <form id="create-note-form" [formGroup]="createNoteFormGroup">
              <fieldset class="form-group">
                <mat-form-field>
                  <textarea
                    type="text"
                    matInput
                    placeholder="Notiz eingeben"
                    formControlName="notice"
                    required
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="30"
                  >
                  </textarea>
                </mat-form-field>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col">
        <div id="image-upload-wrapper">
          <div id="upload-file-wrapper">
            <h5>Bitte Bild auswählen</h5>
            <input
              type="file"
              (change)="fileInputOnChange($event)"
              accept=".png,.jpg"
            />
          </div>
          <div id="progress-bar-wrapper">
            <mat-progress-bar
              *ngIf="percentageImageUpload > 0 && percentageImageUpload < 100"
              mode="determinate"
              value="{{ percentageImageUpload }}"
            ></mat-progress-bar>
          </div>
        </div>
      </div>

      <div id="bottom-nav">
        <button
          type="button"
          id="save-note-btn"
          type="button"
          mat-fab
          (click)="saveNote()"
        >
          <i class="material-icons">save</i>
        </button>
      </div>
    </div>
  </div>
</div>
