@use './../../styles/variables';

body {
  overflow: hidden;
}

#app-component-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 56px;
  padding-left: 0px;
  padding-right: 0px;
}

.header {
  border-bottom: 1px solid lightgrey;
}

.footer {
  border-top: 1px solid lightgrey;
}

.body {
  display: grid;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  padding: 20px;
}

// #app-component-wrapper {
//   display: grid;
//   grid-template: 56px 64px 100vh 64px / 100%;
// }

// mat-sidenav {
//   width: 200px;
//   a {
//     color: variables.$color-white;
//   }
// }

.branding {
  img {
    width: 76px;
  }
}

