@use './../../styles/variables';

body {
  overflow: hidden;
}

#app-component-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 56px;
  padding-left: 0px;
  padding-right: 0px;
}

.body {
  display: grid;
  overflow: hidden;
}

#content-wrapper {
  overflow-y: scroll;
  padding: 0 20px;
  margin-top: 56px;
}
