<div style="height: 85vh">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <div class="branding"></div>
      <span class="menu-spacer"></span>
      <div id="auth-wrapper">
        <button
          mat-icon-button
          *ngIf="(isAuthenticated$ | async) === false"
          [routerLink]="['/sign-in']"
          routerLinkActive="router-link-active"
        >
          Login
        </button>

        <mat-menu #loginMenu="matMenu" id="login-menu">
          <button mat-menu-item (click)="openPrintDialog()">
            <mat-icon>print</mat-icon>
            <span>Drucken</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <button
          *ngIf="isAuthenticated$ | async"
          [matMenuTriggerFor]="loginMenu"
          mat-icon-button
        >
          <fa-icon id="user-circle-icon" icon="user-circle"></fa-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill id="sidenav">
    <mat-sidenav-content fx>
      <div class="content" #main>
        <router-outlet></router-outlet>
        <!-- Display Name: {{ this.user?.displayName }} <br />
        Email: {{ this.user?.email }} <br />
        Is Admin: {{ this.user?.roles.admin }} <br />
        Is User Admin: {{ this.user?.roles.userAdmin }} <br />
        Is Employee: {{ this.user?.roles.employee }} -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
