@use './../../../../styles/variables';

#edit-working-hour-form {
  width: 80%;
  max-width: 300px;
  margin: auto;
}
#edit-material-form-wrapper {
  margin-top: 40px;
}
.mat-form-field {
  width: 100%;
}
#material-form {
  width: 60%;
  margin: auto;
}

#bottom-nav {
  background-color: variables.$color-white;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
  z-index: 1030;
}
#save-material-btn {
  background-color: variables.$primary-color;
  color: variables.$color-white;
  position: absolute;
  right: 16px;
  bottom: 16px;
  .material-icons {
    color: variables.$color-white;
  }
}
// material text input underline
::ng-deep .mat-form-field-underline {
  display: block;
}
