<div id="edit-material-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToMaterialList()"
  >
  </app-sub-navigation>
  <div id="edit-material-form-wrapper">
    <form
      id="material-form"
      [formGroup]="editMaterialForm"
      #documentEditMaterialForm="ngForm"
      (ngSubmit)="saveMaterial()"
    >
      <fieldset class="form-group">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Material auswählen"
            formControlName="material"
            [matAutocomplete]="auto"
            required
            [ngClass]="{
              'is-invalid':
                submitted && getEditMaterialFormControls.material.errors
            }"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>

          <div
            *ngIf="submitted && getEditMaterialFormControls.material.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getEditMaterialFormControls.material.errors.required">
              Bitte <strong>Material</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="form-group">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="amount"
            placeholder="Anzahl"
            required
            [ngClass]="{
              'is-invalid':
                submitted && getEditMaterialFormControls.amount.errors
            }"
          />
          <div
            *ngIf="submitted && getEditMaterialFormControls.amount.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getEditMaterialFormControls.amount.errors.required">
              Bitte <strong>Anzahl</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Einheit auswählen</mat-label>
          <mat-select
            formControlName="unit"
            [ngClass]="{
              'is-invalid': submitted && getEditMaterialFormControls.unit.errors
            }"
          >
            <mat-option *ngFor="let unit of units" [value]="unit.viewValue">
              {{ unit.viewValue }}
            </mat-option>
          </mat-select>
          <div
            *ngIf="submitted && getEditMaterialFormControls.unit.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getEditMaterialFormControls.unit.errors.required">
              Bitte <strong>Einheit</strong> auswählen
            </div>
          </div>
        </mat-form-field>
      </fieldset>
    </form>
  </div>
  <div id="bottom-nav">
    <button
      type="button"
      id="save-material-btn"
      type="button"
      mat-fab
      (click)="saveMaterial()"
    >
      <i class="material-icons">save</i>
    </button>
  </div>
</div>
