<div id="edit-note-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToNotesList()"
  >
  </app-sub-navigation>
  <div id="edit-note-form-wrapper">
    <form id="edit-note-form" [formGroup]="editNoteForm">
      <fieldset class="form-group">
        <mat-form-field>
          <textarea
            type="text"
            matInput
            placeholder="Notiz eingeben"
            formControlName="notice"
            required
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
          >
          </textarea>
        </mat-form-field>
      </fieldset>
    </form>
  </div>

  <div id="image-upload-wrapper">
    <div id="upload-file-wrapper">
      <form [formGroup]="editNoteForm">
        <div *ngIf="this.note?.imageUrl && this.note?.imageUrl !== ''">
          <img
            class="image-preview"
            [src]="this.note?.imageUrl"
            [alt]="editNoteForm.value.name"
            width="200px"
          />
        </div>

        <input
          #fileInput
          hidden
          type="file"
          accept=".png,.jpg"
          (change)="imagePreview($event)"
        />
        <button
          class="choose-img-btn"
          mat-raised-button
          (click)="fileInput.click()"
        >
          Bild Auswählen
        </button>
      </form>
      <div id="progress-bar-wrapper">
        <mat-progress-bar
          *ngIf="percentageImageUpload > 0 && percentageImageUpload < 100"
          mode="determinate"
          value="{{ percentageImageUpload }}"
        ></mat-progress-bar>
      </div>
    </div>
  </div>

  <div id="bottom-nav">
    <button
      type="button"
      id="save-note-btn"
      type="button"
      mat-fab
      (click)="saveNote()"
    >
      <i class="material-icons">save</i>
    </button>
  </div>
</div>
