<div id="create-note-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToNotesList()"
  >
  </app-sub-navigation>
  <div id="create-note-form-wrapper">
    <form id="create-note-form" [formGroup]="editNoteForm">
      <fieldset class="form-group">
        <mat-form-field>
          <textarea
            type="text"
            matInput
            placeholder="Notiz eingeben"
            formControlName="notice"
            required
          >
            <!-- cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="30" -->
          </textarea>
        </mat-form-field>
      </fieldset>
    </form>
  </div>

  <div id="image-upload-wrapper">
    <div id="upload-file-wrapper">
      <input
        hidden
        type="file"
        #fileInput
        (change)="fileInputOnChange($event)"
        accept=".png,.jpg"
      />
      <button id="choose-img-btn" mat-raised-button (click)="fileInput.click()">
        Bild Auswählen
      </button>
      <img src="{{ this.note?.imageUrl }}" lightbox width="200px" />
    </div>

    <div id="progress-bar-wrapper">
      <mat-progress-bar
        *ngIf="percentageImageUpload > 0 && percentageImageUpload < 100"
        mode="determinate"
        value="{{ percentageImageUpload }}"
      ></mat-progress-bar>
    </div>
  </div>

  <form [formGroup]="editNoteForm" (ngSubmit)="submit()">
    <div *ngIf="filePath && filePath !== ''">
      <img [src]="filePath" [alt]="editNoteForm.value.name" width="200px" />
    </div>

    <input
      #fileInput2
      hidden
      type="file"
      accept=".png,.jpg"
      (change)="imagePreview($event)"
    />
    <button id="choose-img-btn" mat-raised-button (click)="fileInput2.click()">
      Bild Auswählen
    </button>
  </form>

  <div id="bottom-nav">
    <button
      type="button"
      id="save-note-btn"
      type="button"
      mat-fab
      (click)="saveNote()"
    >
      <i class="material-icons">save</i>
    </button>
  </div>
</div>
