<h1 mat-dialog-title>Drucken</h1>

<h2>Auftrag auswählen</h2>

<mat-form-field id="order-form-field">
  <mat-select
    [formControl]="orderSelectFormControl"
    placeholder="Auftrag"
    #singleSelect
  >
    <mat-option>
      <ngx-mat-select-search
        [formControl]="orderFilteredFormControl"
      ></ngx-mat-select-search>
    </mat-option>

    <mat-option *ngFor="let order of filteredOrders | async" [value]="order">
      {{ order.companyName }} -
      {{ order.date.toDate() | date: 'dd.MM.yyyy' }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br />
<br />

<div mat-dialog-content>
  <section>
    <mat-checkbox [(ngModel)]="workingHoursChecked"
      >Arbeitsstunden</mat-checkbox
    >
    <br />
    <mat-checkbox [(ngModel)]="materialsChecked">Material</mat-checkbox>
    <br />
    <mat-checkbox [(ngModel)]="notesChecked">Notizen</mat-checkbox><br />
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancle()">Abbrechen</button>
  <button
    mat-button
    (click)="closeAndSave()"
    [disabled]="selectedOrder === undefined"
    cdkFocusInitial
  >
    Drucken
  </button>
</div>
