@import './../../../../styles/_variables.scss';

.sub-nav {
  height: 55px;
  background: $color-white;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
  top: 64px;
  z-index: 1030;
}
.nav-before-btn {
  text-align: left;
  margin-top: 8px;
  mat-icon {
    font-size: 40px;
  }
}
#edit-order-component-wrapper {
  margin-top: 140px;
}
#edit-order-form-wrapper {
  width: 80%;
  max-width: 300px;
  margin: auto;
}
.page-title-wrapper {
  text-align: center;
  margin-top: 16px;
  font-size: 120%;
}
.mat-form-field {
  width: 100%;
}

#bottom-nav {
  background-color: #fff;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
  z-index: 1030;
}
#save-order-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 16px;
  .material-icons {
    color: #fff;
  }
}
// angular material: text input underline
::ng-deep .mat-form-field-underline {
  display: block;
}
