<!-- <app-header titleInput="Regiestunden"></app-header> -->

<div class="sub-nav row">
  <div class="col-10">
    <div type="button" class="nav-before-btn" (click)="navigateToOrderList()">
      <mat-icon>navigate_before</mat-icon>
    </div>
  </div>
  <div class="col-2">
    <div type="button" class="settings-btn" (click)="openSettingsDialog()">
      <mat-icon>settings</mat-icon>
    </div>
  </div>
</div>

<div id="order-detail-component-wrapper" class="row no-gutters">
  <div class="col-12">
    <div id="customer-info-wrapper" class="row no-gutters clearfix">
      <div class="col-12">
        <div id="customer-info">
          <div id="customer-info-wrapper-left" class="float-left">
            <div id="order-date" class="clearfix">
              <mat-icon
                class="float-left"
                aria-hidden="false"
                aria-label="date icon"
              >
                date_range
              </mat-icon>
              <div class="float-left icon-margin">
                {{ order?.date?.seconds * 1000 | date: 'dd.MM.yyyy' }}
              </div>
            </div>

            <div id="order-customer" class="clearfix">
              <mat-icon
                class="float-left"
                aria-hidden="false"
                aria-label="company name icon"
              >
                perm_identity
              </mat-icon>
              <div class="float-left icon-margin">
                {{ order?.companyName }}
              </div>
            </div>
          </div>
          <div id="customer-info-wrapper-right" class="float-left">
            <div id="order-location" class="clearfix">
              <mat-icon
                class="float-left"
                aria-hidden="false"
                aria-label="location icon"
              >
                location_on
              </mat-icon>

              <div class="float-left icon-margin">
                {{ order?.location }}
              </div>
            </div>
            <div id="order-contact-person" class="clearfix">
              <img
                id="helmet-icon"
                class="float-left"
                src="./assets/img/helmet.svg"
                alt="contact person icon"
              />
              <div class="float-left icon-margin">
                {{ order?.contactPerson }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-lazy-loaded-tab-navigation></app-lazy-loaded-tab-navigation>
  </div>

  <div id="bottom-nav">
    <div
      *ngIf="showButtonsIfWorkingHourIsSelected"
      ngClass="{
        'create-working-hour-edit-btn-if-print-is-not-active': !showPrintButton,
        'create-working-hour-edit-btn': showPrintButton,
        'create-working-hour-edit-btn-if-delete-is-not-active': !showDeleteButton
      }"
    >
      <button
        type="button"
        mat-fab
        (click)="editWorkingHour(this.selectedWorkingHour)"
        id="edit-working-hour-btn"
      >
        <i class="material-icons">edit</i>
      </button>
    </div>

    <div *ngIf="showPrintButton">
      <button
        type="button"
        ngClass="{
          'create-working-hour-edit-btn-if-print-is-not-active': !showPrintButton,
          'create-working-hour-edit-btn': showPrintButton
        }"
        id="create-working-hour-print-btn"
        type="button"
        mat-fab
        (click)="print()"
      >
        <i class="material-icons">print</i>
      </button>
    </div>

    <div *ngIf="showButtonsIfWorkingHourIsSelected && showDeleteButton">
      <button
        id="create-working-hour-delete-btn"
        type="button"
        mat-fab
        (click)="deleteWorkingHour(this.selectedWorkingHour)"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>
    <button
      type="button"
      id="create-material-btn"
      type="button"
      mat-fab
      (click)="createNewWorkingHour()"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
