<div id="working-hour-list-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToOrderList()"
  >
  </app-sub-navigation>

  <div id="customer-info-wrapper">
    <div id="customer-info">
      <table>
        <tr>
          <td>
            <mat-icon aria-hidden="false" aria-label="company name icon">
              perm_identity
            </mat-icon>
          </td>
          <td class="table-data-padding">
            <div class="icon-margin">
              {{ order?.companyName }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon aria-hidden="false" aria-label="date icon">
              date_range
            </mat-icon>
          </td>
          <td class="table-data-padding">
            <div class="icon-margin">
              {{ order?.date?.seconds * 1000 | date: 'dd.MM.yyyy' }}
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <mat-icon aria-hidden="false" aria-label="location icon">
              location_on
            </mat-icon>
          </td>
          <td class="table-data-padding">
            <div class="icon-margin">
              {{ order?.location }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <img
              id="helmet-icon"
              src="./assets/img/helmet.svg"
              alt="contact person icon"
            />
          </td>
          <td class="table-data-padding">
            <div class="icon-margin">
              {{ order?.contactPerson }}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      *ngFor="let tab of tabsWithRoutes"
      [routerLink]="tab.route"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <div *ngIf="tab.icon.startsWith('./../'); else isAMaterialIcon">
        <img class="material-nav-icon" src="{{ tab.icon }}" alt="" />
      </div>

      <ng-template #isAMaterialIcon>
        <mat-icon class="mr-8">{{ tab.icon }}</mat-icon>
        {{ tab.label }} <br />
      </ng-template>
    </a>
  </nav>

  <mat-selection-list
    [multiple]="false"
    [(ngModel)]="selectedOptions"
    (ngModelChange)="showActionButtons($event)"
  >
    <mat-list-option
      *ngFor="let workingHour of list | workingHoursPipe: searchText"
      [value]="workingHour"
    >
      <div mat-line class="date">
        {{ workingHour?.date.seconds * 1000 | date: 'dd.MM.yyyy' }}
      </div>
      <div mat-line>{{ workingHour.description }}</div>
      <div mat-line>{{ workingHour.workingHours }}</div>
      <div mat-line>{{ workingHour.employee }}</div>
    </mat-list-option>
  </mat-selection-list>

  <div id="bottom-nav">
    <div *ngIf="showButtonsIfSelected">
      <button
        [ngClass]="{
          'create-workingHour-edit-btn-if-delete-btn-is-active': showDeleteButton,
          'create-workingHour-edit-btn': !showDeleteButton
        }"
        type="button"
        mat-fab
        (click)="navigateToEditWorkingHour(this.selectedWorkingHour)"
      >
        <i class="material-icons">edit</i>
      </button>
    </div>

    <div *ngIf="showButtonsIfSelected && showDeleteButton">
      <button
        *ngIf="showButtonsIfSelected"
        type="button"
        id="create-workingHour-delete-btn"
        type="button"
        mat-fab
        (click)="deleteWorkingHour(this.selectedWorkingHour)"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>

    <button
      type="button"
      id="create-workingHour-btn"
      type="submit"
      mat-fab
      class="float-right"
      (click)="createNewWorkingHour()"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
