<div id="create-order-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToOrderList()"
  >
  </app-sub-navigation>

  <div id="create-order-form-wrapper">
    <form id="create-order-form" [formGroup]="createOrderForm">
      <fieldset class="form-group">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Datum wählen"
            id="date"
            name="date"
            formControlName="date"
            (click)="picker.open()"
            required
            [ngClass]="{
              'is-invalid': submitted && getFormControl.date.errors
            }"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <div
            *ngIf="submitted && getFormControl.date.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.date.errors.required">
              Bitte <strong>Datum</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="form-group">
        <mat-form-field>
          <input
            matInput
            set
            control
            name
            formControlName="companyName"
            placeholder="Kundenname"
            class="form-control form-control-sm"
            type="text"
            [ngClass]="{
              'is-invalid': submitted && getFormControl.companyName.errors
            }"
          />
          <div
            *ngIf="submitted && getFormControl.companyName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.companyName.errors.required">
              Bitte <strong>Name</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="form-group">
        <mat-form-field>
          <input
            matInput
            set
            control
            name
            formControlName="contactPerson"
            placeholder="Kommission"
            class="form-control form-control-sm"
            type="text"
            [ngClass]="{
              'is-invalid': submitted && getFormControl.contactPerson.errors
            }"
          />
          <div
            *ngIf="submitted && getFormControl.contactPerson.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.contactPerson.errors.required">
              Bitte <strong>Einsatzleiter</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="form-group">
        <mat-form-field>
          <input
            matInput
            set
            control
            name
            formControlName="location"
            placeholder="Ort"
            class="form-control form-control-sm"
            type="text"
            [ngClass]="{
              'is-invalid': submitted && getFormControl.location.errors
            }"
          />
          <div
            *ngIf="submitted && getFormControl.contactPerson.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.location.errors.required">
              Bitte <strong>Ort</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>
    </form>
  </div>
  <div id="bottom-nav">
    <button
      type="button"
      id="save-order-btn"
      type="button"
      mat-fab
      (click)="saveOrder()"
    >
      <i class="material-icons">save</i>
    </button>
  </div>
</div>
