@import './../../../../styles/variables';

#order-list-component-wrapper {
  margin-top: 120px;
}

.sub-nav {
  height: 55px;
  height: 55px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 12%);
  top: 64px;
  width: 100%;
  position: fixed;
  right: 0px;
  z-index: 2;
}

.settings-btn {
  text-align: right;
  margin-top: 15px;
  margin-right: 15px;
}

.page-title-wrapper {
  text-align: center;
  font-size: 120%;
  padding-top: 16px;
}

#search-wrapper {
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 12%);
  top: 64px;
}

#search-input {
  margin-top: -42px;
  margin-left: 4px;
}

#search {
  height: 50px;
  border: 0;
  font-size: 16px;
  color: #696969;
  margin-left: 30px;
  padding-top: 3px;
  width: 70%;
}

.search-icon {
  margin-top: 15px;
  margin-left: 6px;
}

// .table-responsive {
//   display: block;
//   width: 100%;
//   overflow-x: auto;
//   .mat-table {
//       width: 100%;
//       max-width: 100%;
//       margin-bottom: 1rem;
//       display: table;
//       border-collapse: collapse;
//       margin: 0px;
//   }
//   .mat-row,
//   .mat-header-row {
//       display: table-row;
//   }
//   .mat-cell,
//   .mat-header-cell {
//       word-wrap: initial;
//       display: table-cell;
//       padding: 0px 5px;
//       line-break: unset;
//       width: auto;
//       white-space: nowrap;
//       overflow: hidden;
//       vertical-align: middle;
//   }
// }

table {
  width: 100%;
  box-shadow: none;
  .mat-header-row {
    display: none;
  }
  mat-icon {
    font-size: 24px;
    margin-top: 6px;
  }
}

.location {
  font-size: 90%;
  margin-right: 2%;
}

.mat-row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

#no-orders-found {
  margin-left: 30px;
}

#bottom-nav {
  background-color: $color-white;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  right: 0px;
}

#create-order-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 16px;
  .material-icons {
    color: #fff;
  }
}

#create-order-delete-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 78px;
  .material-icons {
    color: #fff;
  }
}

#create-order-edit-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 141px;
  .material-icons {
    color: #fff;
  }
}

.create-order-edit-btn-if-delete-btn-is-active {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 141px;
  .material-icons {
    color: #fff;
  }
}

.create-order-edit-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 78px;
  .material-icons {
    color: $color-white;
  }
}

.create-watch-btn-if-delete-btn-is-active {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 204px;
  .material-icons {
    color: $color-white;
  }
}

.create-order-watch-btn {
  background-color: $primary-color;
  color: $color-white;
  position: absolute;
  right: 16px;
  bottom: 141px;
  .material-icons {
    color: #fff;
  }
}

.mat-row.highlighted {
  background: $light-grey;
  color: $color-white;
}

#order-list-wrapper {
  margin-top: 35px;
}

#create-order-btn {
  z-index: 2000;
  position: absolute;
}

header {
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}
.main-header {
  @extend header;
  &.hidden {
    opacity: 0;
  }
}
.search-block {
  width: 0%;
  right: 0;
  @extend header;
  background: #fff;
  &.active {
    width: 100%;
  }
  .search-control {
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}

.mat-list-item {
  border-bottom: solid #e0e0e0 1px;
}

mat-selection-list {
  padding-left: 18px;
}

.date {
  font-size: 14px !important;
  text-align: right;
  margin-right: 10px !important;
}

.company-name {
  font-weight: bold !important;
  font-size: 15px !important;
}
