<div id="order-list-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
  >
  </app-sub-navigation>

  <div style="overflow-x: hidden; width: 100%">
    <mat-selection-list
      [multiple]="false"
      [(ngModel)]="selectedOptions"
      (ngModelChange)="showActionButtons($event)"
    >
      <mat-list-option
        *ngFor="let order of list | filter: searchText"
        [value]="order"
      >
        <div mat-line class="date">
          {{ order?.date.seconds * 1000 | date: 'dd.MM.yyyy' }}
        </div>
        <div mat-line class="company-name">{{ order.companyName }}</div>
        <div mat-line>{{ order.contactPerson }}</div>
        <div mat-line>{{ order.location }}</div>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div id="bottom-nav">
    <div *ngIf="showButtonsIfOrderIsSelected">
      <button
        [ngClass]="{
          'create-watch-btn-if-delete-btn-is-active': showDeleteButton,
          'create-order-watch-btn': !showDeleteButton
        }"
        type="button"
        mat-fab
        (click)="navigateToWorkingHours(this.selectedOrder)"
      >
        <i class="material-icons">visibility</i>
      </button>
    </div>
    <div *ngIf="showButtonsIfOrderIsSelected">
      <button
        [ngClass]="{
          'create-order-edit-btn-if-delete-btn-is-active': showDeleteButton,
          'create-order-edit-btn': !showDeleteButton
        }"
        type="button"
        mat-fab
        (click)="editOrder(this.selectedOrder)"
      >
        <i class="material-icons">edit</i>
      </button>
    </div>

    <div *ngIf="showButtonsIfOrderIsSelected && showDeleteButton">
      <button
        *ngIf="showButtonsIfOrderIsSelected"
        type="button"
        id="create-order-delete-btn"
        type="button"
        mat-fab
        (click)="deleteOrder(this.selectedOrder)"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>

    <button
      type="button"
      id="create-order-btn"
      type="submit"
      mat-fab
      class="float-right"
      (click)="navigateToCreateOrder()"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
