#header-title-wrapper {
  text-align: center;
  height: 55px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 12%);
}

#header-title {
  font-size: 120%;
  padding-top: 17px;
}
