<div id="create-material-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToMaterialList()"
  >
  </app-sub-navigation>
  <div id="create-material-form-wrapper">
    <form id="create-material-form" [formGroup]="createMaterialForm">
      <fieldset class="form-group">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Material auswählen"
            formControlName="material"
            [matAutocomplete]="auto"
            required
            [ngClass]="{
              'is-invalid': submitted && getFormControl.material.errors
            }"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>

          <div
            *ngIf="submitted && getFormControl.material.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.material.errors.required">
              Bitte <strong>Material</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="form-group">
        <mat-form-field>
          <input
            matInput
            formControlName="amount"
            placeholder="Anzahl"
            required
            [ngClass]="{
              'is-invalid': submitted && getFormControl.amount.errors
            }"
          />
          <div
            *ngIf="submitted && getFormControl.amount.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.amount.errors.required">
              Bitte <strong>Stückzahl</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset>
        <mat-form-field>
          <mat-label>Einheit</mat-label>
          <mat-select formControlName="unit" name="materials">
            <mat-option *ngFor="let unit of units" [value]="unit.viewValue">
              {{ unit.viewValue }}
            </mat-option>
          </mat-select>

          <div
            *ngIf="submitted && getFormControl.unit.errors"
            class="invalid-feedback"
          >
            <div *ngIf="getFormControl.unit.errors.required">
              Bitte <strong>Stückzahl</strong> eingeben
            </div>
          </div>
        </mat-form-field>
      </fieldset>
    </form>
  </div>

  <div id="bottom-nav">
    <button
      type="button"
      id="save-material-btn"
      type="button"
      mat-fab
      (click)="saveMaterial()"
    >
      <i class="material-icons">save</i>
    </button>
  </div>
</div>
