@import '../../../../styles/styles-variables.scss';

mat-card {
  margin: 10px;
}

form {
  margin: 16px;
}

mat-form-field {
  width: 100%;
}

#register-btn-wrapper {
  margin-top: 20px;
}

#redirectToLogin {
  text-align: right;
}

#redirect {
  text-decoration: underline;
  &:hover {
    color: grey;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  #sign-up-form-wrapper {
    width: 50%;
    margin: auto;
  }
}
