<div id="material-list-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToOrderList()"
  >
  </app-sub-navigation>

  <app-customer-info-wrapper [order]="order"></app-customer-info-wrapper>

  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      *ngFor="let tab of tabsWithRoutes"
      [routerLink]="tab.route"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <div *ngIf="tab.icon.startsWith('./../'); else isAMaterialIcon">
        <img class="material-nav-icon" src="{{ tab.icon }}" alt="" />
      </div>

      <ng-template #isAMaterialIcon>
        <mat-icon class="mr-8">{{ tab.icon }}</mat-icon>
        {{ tab.label }} <br />
      </ng-template>
    </a>
  </nav>
</div>

<div id="material-list-wrapper">
  <mat-selection-list
    [multiple]="false"
    [(ngModel)]="selectedOptions"
    (ngModelChange)="showActionButtons($event)"
  >
    <mat-list-option *ngFor="let material of list" [value]="material">
      <div mat-line>{{ material.material }}</div>
      <div mat-line>{{ material.amount }} {{ material.unit }}</div>
    </mat-list-option>
  </mat-selection-list>

  <ng-template #noMaterialsFoundTemplate>
    <div id="no-materials-found">Keine Einträge gefunden</div>
  </ng-template>
</div>

<div id="bottom-nav">
  <div *ngIf="showButtonsIfMaterialIsSelected">
    <button
      [ngClass]="{
        'material-edit-btn-if-print-is-not-active': !showPrintButton,
        'material-edit-btn': showPrintButton
      }"
      type="button"
      mat-fab
      (click)="routeToeditMaterial(this.selectedMaterial)"
      id="edit-material-btn"
    >
      <i class="material-icons">edit</i>
    </button>
  </div>

  <div *ngIf="showButtonsIfMaterialIsSelected">
    <button
      *ngIf="showButtonsIfMaterialIsSelected"
      type="button"
      id="create-material-delete-btn"
      type="button"
      mat-fab
      (click)="deleteMaterial(this.selectedMaterial)"
    >
      <i class="material-icons">delete</i>
    </button>
  </div>

  <button
    type="button"
    id="create-material-btn"
    type="button"
    mat-fab
    (click)="routeToCreateMaterial()"
  >
    <i class="material-icons">add</i>
  </button>
</div>
