<div id="material-list-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToOrderList()"
  >
  </app-sub-navigation>
  <app-customer-info-wrapper order="order"></app-customer-info-wrapper>

  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      *ngFor="let tab of tabsWithRoutes"
      [routerLink]="tab.route"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <div *ngIf="tab.icon.startsWith('./../'); else isAMaterialIcon">
        <img class="material-nav-icon" src="{{ tab.icon }}" alt="" />
      </div>

      <ng-template #isAMaterialIcon>
        <mat-icon class="mr-8">{{ tab.icon }}</mat-icon>
        {{ tab.label }} <br />
      </ng-template>
    </a>
  </nav>

  <div id="notes-list-wrapper">
    <mat-table
      #table
      [dataSource]="[dataSource]"
      matSort
      *ngIf="hasNotesFound; else noNotesFoundTemplate"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
        <mat-cell *matCellDef="let note">
          <div>Id:</div>
          {{ note.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="notice">
        <mat-header-cell *matHeaderCellDef>Notiz</mat-header-cell>
        <mat-cell *matCellDef="let note">
          <div class="disable-on-small-device">
            {{ note.notice }}
          </div>
          <mat-form-field>
            <input
              matInput
              placeholder="Notiz"
              value="{{ note.notice }}"
              readonly
            />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef class="w-75">Bild</mat-header-cell>
        <mat-cell *matCellDef="let note">
          <div class="disable-on-small-device">
            {{ note.imageUrl }}
          </div>
          <img src="{{ note.imageUrl }}" lightbox alt="" width="100px" />
          Image URL: {{ note.imageUrl }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="highlighted.toggle(row); showActionButtons(row)"
        [ngClass]="{
          hovered: row.hovered,
          highlighted: highlighted.isSelected(row)
        }"
        (click)="!row.hasBeenPrinted && selection.toggle(row)"
        [ngStyle]="
          row.hasBeenPrinted && {
            'background-color': '#aeafae',
            border: '1px solid #999999',
            color: '#666666',
            opacity: '0.8'
          }
        "
      ></mat-row>
    </mat-table>

    <ng-template #noNotesFoundTemplate>
      <div id="no-notes-found">Keine Einträge gefunden</div>
    </ng-template>
  </div>

  <div id="bottom-nav">
    <div *ngIf="showButtonsIfSelected">
      <button
        id="note-edit-btn"
        type="button"
        mat-fab
        (click)="navigateToEditNote(this.selectedNote)"
      >
        <i class="material-icons">edit</i>
      </button>
    </div>

    <div *ngIf="showButtonsIfSelected">
      <button
        type="button"
        id="note-delete-btn"
        type="button"
        mat-fab
        (click)="deleteNote(this.selectedNote)"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>

    <button
      type="button"
      id="create-note-btn"
      type="button"
      mat-fab
      (click)="navigateToCreateNote()"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
