<div id="material-list-component-wrapper">
  <app-sub-navigation
    [title]="subNavTitle"
    [enableBackBtn]="enableSubNavBackBtn"
    (navigateBack$)="navigateToOrderList()"
  >
  </app-sub-navigation>
  <app-customer-info-wrapper [order]="order"></app-customer-info-wrapper>

  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a
      mat-tab-link
      *ngFor="let tab of tabsWithRoutes"
      [routerLink]="tab.route"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <div *ngIf="tab.icon.startsWith('./../'); else isAMaterialIcon">
        <img class="material-nav-icon" src="{{ tab.icon }}" alt="" />
      </div>

      <ng-template #isAMaterialIcon>
        <mat-icon class="mr-8">{{ tab.icon }}</mat-icon>
        {{ tab.label }} <br />
      </ng-template>
    </a>
  </nav>

  <mat-selection-list
    [multiple]="false"
    [(ngModel)]="selectedOptions"
    (ngModelChange)="showActionButtons($event)"
  >
    <mat-list-option *ngFor="let note of notes" [value]="note">
      <div mat-line>
        <p>{{ note.notice }}</p>
      </div>
      <div mat-line></div>
      <div mat-line>
        <img src="{{ note?.imageUrl }}" lightbox width="200px" />
      </div>
      <div mat-line></div>
      <div mat-line></div>
      <div mat-line></div>
    </mat-list-option>
  </mat-selection-list>

  <div id="bottom-nav">
    <div *ngIf="showButtonsIfSelected">
      <button
        id="note-edit-btn"
        type="button"
        mat-fab
        (click)="navigateToEditNote(this.selectedNote)"
      >
        <i class="material-icons">edit</i>
      </button>
    </div>

    <div *ngIf="showButtonsIfSelected">
      <button
        type="button"
        id="note-delete-btn"
        type="button"
        mat-fab
        (click)="deleteNote(this.selectedNote)"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>

    <button
      type="button"
      id="create-note-btn"
      type="button"
      mat-fab
      (click)="navigateToCreateNote()"
    >
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
